.main-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-container > .login,
.main-container > .hero-body{
	height: auto;
	width: 100%;
	max-width: 400px;
	min-width: 300px;
}
.form-inline{
	display: inline-flex;
}
.login {
  background-color: rgba(255, 255, 255, 0.842);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.input {
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease;
}
.input:focus {
  border-color: #141414;
  box-shadow: 0 0 8px rgba(33, 150, 243, 0.3); 
}
body {
  background-image: url('../img/Fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contenedor-destacado {
  background-color:rgba(248, 249, 250, 0.86); 
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  max-width: 90%;
  width: 1000px;
  margin: 60px auto;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
}
.navbar-link::before, .navbar-dropdown a.navbar-item::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
  display: inline-block;
  color: #0f0f0f;
}
.navbar .buttons .button {
  background-color: #000;
  color: #fff;
  border: none;
}
.navbar .buttons .button:hover {
  background-color: #222;
  color: #fff;
}
.navbar-start .navbar-item:nth-child(1) > .navbar-link::before {
  content: "\f0c0"; 
}
a[href*="user_new"]::before { content: "\f234"; }     
a[href*="user_list"]::before { content: "\f0c0"; }     
a[href*="user_search"]::before { content: "\f002"; }  
 
.navbar-start .navbar-item:nth-child(2) > .navbar-link::before {
  content: "\f07c"; 
}
a[href*="category_new"]::before { content: "\f279"; }     
a[href*="category_list"]::before { content: "\f07c"; }     
a[href*="category_search"]::before { content: "\f002"; }   

.navbar-start .navbar-item:nth-child(3) > .navbar-link::before {
  content: "\f187"; 
}
a[href*="product_new"]::before { content: "\f217"; }        
a[href*="product_list"]::before { content: "\f187"; }       
a[href*="product_category"]::before { content: "\f02d"; }   
a[href*="product_search"]::before { content: "\f002"; }    

.navbar-start .navbar-item:nth-child(4) > .navbar-link::before {
  content: "\f0ad"; 
}
a[href*="herramienta_new"]::before { content: "\f0ad"; }        
a[href*="herramienta_list"]::before { content: "\f0c3"; }       
a[href*="herramienta_category"]::before { content: "\f02d"; }   
a[href*="herramienta_search"]::before { content: "\f002"; }     

a[href*="user_update"]::before,
a[href*="logout"]::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 6px;
}

a[href*="user_update"]::before { content: "\f007"; }  
a[href*="logout"]::before { content: "\f2f5"; }       






